.border2 H2 .titleimg{
background:url(column_fcqg.jpg) no-repeat;
height:27px;
width:122px;
}
.border2 IMG{
margin-left:35px;
}

.border3 H2 .titleimg{
background:url(column_xpsj.jpg) no-repeat;
height:27px;
width:122px;
}