@CHARSET "UTF-8";

.more {
	width: 193px;
	padding: 2px 8px 5px;
	overflow: hidden;
}

.more a:link,.more a:visited {
	float: right;
	color: #005aa0;
}

.more b {
	float: left;
	width: 8px;
	height: 8px;
	margin-top: 5px;
	background: url(i/title20100415.gif) no-repeat 0 -38px;
	overflow: hidden
}

/*left*/
.left {
	width: 211px;
	margin-right: 6px;
	float: left;
}

.left h2 {
	height: 25px;
	padding: 2px 10px 0 10px;
	background: url(i/title20100415.gif) #CE2020 no-repeat 0 0;
	line-height: 25px;
	color: #fff;
}

.left h2 em {
	float: right;
	font-weight: normal;
	font-size: 12px;
}

.left .m {
	width: 211px;
	margin-bottom: 6px;
}

.left .mc {
	border-width: 0 1px 1px;
	border-style: solid;
	border-color: #E7CA96;
}

/*right*/
.right {
	width: 763px;
	overflow: hidden;
	float: right;
}

.right_box1_left {
	width: 546px;
	float: left;
}

.right_box1_right {
	width: 211px;
	float: right;
}

.right_box1_right .m {
	width: 211px;
	margin-bottom: 6px;
}

.right_box1_right .mc {
	border-width: 0 1px 1px;
	border-style: solid;
	border-color: #E7CA96;
}

#ScareBuying h2,#NewProduct h2,h2.tjzq {
	height: 27px;
	padding-right: 8px;
	background: url(i/title20100415.gif) #F6F7FB no-repeat right -46px;
}

#ScareBuying h2 img,#NewProduct h2 img {
	width: 122px;
	height: 27px;
	float: left;
	margin-right: 10px;
}

#ScareBuying h2 em,#NewProduct h2 em,h2.tjzq em {
	float: right;
	font-size: 12px;
	font-weight: normal;
	margin-top: 6px;
}

#report h2,#sale h2,.Rank_Sale h2 {
	width: 195px;
	height: 25px;
	line-height: 25px;
	padding: 2px 8px 0;
	background: url(i/title20100415.gif) #E7CA96 no-repeat -212px 0;
	color: #D6290B;
}

/*allsort*/
#allsort h2 a:link,#allsort h2 a:visited {
	color: #fff;
}

#allsort .mc {
	width: 209px;
	padding: 5px 0;
	border-color: #CE2020;
	background: #FFFFF5;
}

#allsort h3 {
	padding: 5px 8px;
}

#allsort h3 a:link,#allsort h3 a:visited {
	color: #D6290B;
}

#allsort .item {
	width: 209px;
	height: 28px;
}

#allsort span {
	display: block;
	overflow: hidden;
	width: 200px;
	height: 24px;
	padding: 2px 1px 2px 8px;
	line-height: 24px;
}

#allsort h4 {
	float: left;
	font-size: 12px;
	font-weight: normal;
}

#allsort ins {
	float: left;
	width: 148px;
	font-style: normal;
	text-decoration: none;
	background: url(i/shadow20100415.gif) no-repeat -350px 0;
	color: #999;
}

#allsort .item div {
	display: none;
	position: absolute;
	left: 180px;
	top: 0;
	z-index: 12;
}

#allsort dl,#allsort dt,#allsort dd {
	width: 200px;
	background-image: url(i/shadow20100415.gif);
	background-repeat: no-repeat;
}

#allsort dl {
	background-position: left bottom;
}

#allsort dt {
	position: relative;
	padding: 0 4px 0 15px;
	margin-left: 1px;
	overflow: hidden;
	height: 6px;
	background-position: right -36px;
}

#allsort dd {
	position: relative;
	padding: 0 5px 5px 0;
	margin-left: 15px;
	overflow: hidden;
	background-position: right bottom;
}

#allsort dd em {
	float: left;
	width: 90px;
	padding: 0 0 5px 10px;
	background: url(i/shadow20100415.gif) no-repeat -489px -5px;
}

#allsort .item:hover,#allsort .hover {
	position: relative;
	z-index: 11;
}

#allsort .item:hover span,#allsort .hover span {
	height: 24px;
	padding: 0 1px 3px 8px;
	border-top: 1px solid #6C6C6C;
	background: url(i/shadow20100415.gif) repeat-x 0 -8px;
}

#allsort .item:hover ins,#allsort .hover ins {
	position: absolute;
	right: 20px;
	top: 1px;
	z-index: 13;
	overflow: hidden;
	width: 130px;
	height: 22px;
	background: #fff;
	line-height: 22px;
	text-indent: 200px;
}

#allsort .item:hover div,#allsort .hover div {
	display: block;
}

#allsort .extra {
	padding: 5px 8px 0;
	border-top: 1px dotted #ccc;
	text-align: right;
}

#allsort .extra a:link,#allsort .extra a:visited {
	color: #005aa0;
}

* html #allsort dl {
	overflow: hidden;
}

/*brandstore*/
#brandstore {
	position: relative;
}

#brandmarket {
	position: absolute;
	top: 5px;
	right: 10px;
	color: #fff;
}

#brandmarket div {
	display: none;
	position: absolute;
	left: -14px;
	top: 0;
	z-index: 12;
}

#brandmarket dl,#brandmarket dt,#brandmarket dd {
	width: 315px;
	background-image: url(i/shadow20100415.gif);
	background-repeat: no-repeat;
}

#brandmarket dl {
	background-position: left bottom;
}

#brandmarket dt {
	position: relative;
	padding: 0 4px 0 15px;
	margin-left: 1px;
	overflow: hidden;
	height: 6px;
	background-position: right -36px;
}

#brandmarket dd {
	position: relative;
	padding: 0 5px 10px 0;
	margin-left: 15px;
	overflow: hidden;
	background-position: right bottom;
}

#brandmarket dd em {
	float: left;
	overflow: hidden;
	width: 90px;
	height: 20px;
	line-height: 20px;
	padding: 0 5px 0 10px;
	background: url(i/shadow20100415.gif) no-repeat -489px -2px;
}

#brandmarket:hover div,#brandstore .hover div {
	display: block;
}

* html #brandmarket dl {
	overflow: hidden;
}

#brandstore ul {
	overflow: hidden;
	width: 201px;
	padding: 8px 0 0 8px;
}

#brandstore li {
	float: left;
	overflow: hidden;
	width: 88px;
	height: 31px;
	padding: 1px;
	border: 1px solid #efefef;
	margin: 0 8px 8px 0;
}

#brandstore li img {
	width: 88px;
	height: 31px;
}

* html #brandstore ul {
	padding-bottom: 0;
}

/*Research*/
#Research {
	overflow: hidden;
	margin-bottom: 6px;
}

#Research div {
	padding: 8px;
	border: solid #E7CA96;
	border-width: 0 1px 1px;
}

#Research p {
	margin-bottom: 5px;
}

#Research .act {
	margin-top: 15px;
	text-align: center;
}

#Research .act input {
	margin-right: 15px;
}

#Research .act img {
	display: inline;
}

/*NewReviewPro*/
#newReviewPro {
	overflow: hidden;
	margin-bottom: 6px;
}

#newReviewPro li {
	padding: 10px 0 4px;
}

#newReviewPro li.other {
	border-top: 1px solid #efefef;
}

#newReviewPro li.more {
	text-align: right;
	height: 15px;
	padding-bottom: 0;
}

/*Link*/
#Link {
	width: 211px;
	margin-bottom: 6px;
	overflow: hidden;
}

#Link ul {
	width: 189px;
	padding: 8px 10px 4px;
	border: 1px solid #E7CA96;
	overflow: hidden;
}

#LinkBox {
	width: 209px;
	padding: 0;
	border: 1px solid #E7CA96;
}

#LinkBox ul {
	border: 0;
}

#LinkBox .li2 {
	padding: 4px 2px 2px 10px;
	background: #FCFAEE;
	line-height: 1.5em;
}

#Link li {
	width: 82px;
	float: left;
	font-weight: bold;
	line-height: 25px;
	font-size: 13px;
}

#Link li.li1 {
	width: 189px;
}

/*column_zxpj*/
.column_zxpj {
	margin-bottom: 6px;
}

.column_zxpj ul {
	width: 197px;
	padding: 0 6px;
	border: 1px solid #E7CA96;
	overflow: hidden;
}

.column_zxpj li {
	padding: 6px 0;
	border-top: 1px solid #efefef;
}

.column_zxpj .text1 {
	padding: 5px 0;
	overflow: hidden;
	zoom: 1;
	line-height: 20px;
}

.column_zxpj .text1 img {
	float: left;
	margin: 0 6px 0px;
}

.column_zxpj .text2 {
	overflow: hidden;
	zoom: 1;
}

/*--------------------------------------------right--------------------------------------------*/
	/*slide*/
#slide {
	position: relative;
	width: 546px;
	height: 120px;
	margin-bottom: 8px;
	background: url(i/loading.gif) no-repeat center center;
	overflow: hidden;
}

#slide ul {
	position: absolute;
	top: 0;
	left: 0;
	width: 546px;
	height: 120px;
}

#slide li {
	float: left;
	width: 546px;
	height: 120px;
	overflow: hidden;
}

#slide div {
	position: absolute;
	float: right;
	bottom: 4px;
	right: 4px;
	height: 20px;
	overflow: hidden;
	zoom: 1;
}

#slide span {
	width: 14px;
	height: 14px;
	border: 1px solid #D00000;
	margin: 2px 2px;
	background: #fff;
	float: left;
	text-align: center;
	line-height: 14px;
	cursor: pointer;
	font-family: arial;
}

#slide .curr {
	width: 18px;
	height: 18px;
	margin: 0 2px;
	background: #FF0000;
	border: 1px solid #D00000;
	line-height: 18px;
}

#slide span a:link,#slide span a:visited {
	text-decoration: none;
	color: #D00000;
	font-size: 11px;
}

#slide .curr a:link,#slide .curr a:visited {
	color: #fff;
	font-weight: bold;
	font-size: 12px;
}

/*ScareBuying*/
#ScareBuying {
	width: 546px;
	margin-bottom: 6px;
}

#ScareBuying .p_Price {
	display: none;
}

/*Product_List_S3//image:100*75*/
#ScareBuying .Product_List_S3 dl {
	background: none;
}

#ScareBuying .Product_List_S3 dt {
	position: relative;
}

#ScareBuying .Product_List_S3 li {
	border-bottom: 0;
}

#ScareBuying .Product_List_S3 dt div {
	position: absolute;
	right: 20px;
	bottom: 0px;
	width: 58px;
	height: 16px;
	border: 1px solid #DCDCDB;
	background: #FC3232;
	filter: alpha(opacity = 80);
	-moz-opacity: 0.8;
	color: #fff;
	font-weight: bold;
}

/*Product_List_S2//image:50*38*/
.Product_List_S2 {
	width: 100%;
	padding: 4px 0 0;
	overflow: hidden;
}

.Product_List_S2 ul {
	width: 101%;
	overflow: hidden;
	border-top: 1px solid #E2EBF3;
}

.Product_List_S2 li {
	width: 33.3%;
	float: left;
	background: url(i/gradual20100415.gif) repeat-x 0 -601px;
}

.Product_List_S2 li dl {
	padding: 14px 5px 6px;
	background: url(i/jo_line1.gif) no-repeat right -276px;
}

.Product_List_S2 li dt {
	float: left;
	width: 50px;
	height: 40px;
	padding-right: 5px;
}

.Product_List_S2 li dt img {
	width: 50px;
	height: 38px;
}

.Product_List_S2 li dd {
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	word-wrap: break-word;
	word-break: break-all;
}

.Product_List_S2 li dd.p_Name {
	height: 30px;
	line-height: 15px;
	margin: 5px 0 23px;
}

.Product_List_S2 em {
	color: #ff0000;
}

/*report*/
#report ul {
	width: 197px;
	padding: 6px 6px 3px;
}

#report li {
	height: 21px;
	line-height: 21px;
	overflow: hidden;
}

/*sale*/
#sale ul {
	width: 197px;
	padding: 6px 6px 3px;
}

#sale li {
	height: 21px;
	line-height: 21px;
	overflow: hidden;
}

#sale .recommend {
	height: 54px;
	margin-bottom: 5px;
}

#sale .recommend dt {
	width: 50px;
	height: 38px;
	padding: 8px 5px 8px 0;
	float: left;
}

#sale .recommend dt img {
	width: 50px;
	height: 38px;
}

#sale .recommend dd {
	overflow: hidden;
}

#sale .recommend .p_Name {
	height: 36px;
	line-height: 18px;
}

#sale .recommend .p_Price {
	height: 18px;
	color: #E42E2F;
}

#sale .recommend .p_Price em {
	color: #E42E2F;
	font-weight: bold;
}

#sale .recommend .p_Price img {
	display: inline;
	margin-top: -5px;
}

/*NewProduct*/
#NewProduct {
	width: 546px;
	overflow: hidden;
	margin-bottom: 6px;
}

#NewProduct h2 {
	margin-bottom: 7px;
}

#NewProduct .Product_List_S3 {
	width: 546px;
	height: 156px;
	overflow: hidden;
	padding:0;
}

#NewProduct .Product_List_S3 ul {
	width: 546px;
	margin-bottom: 0;
}

#NewProduct .Product_List_S3 li {
	border: 0;
}

#NewProduct .Product_List_S3 dl {
	background: none;
	padding: 7px 0 4px;
}

#NewProduct .p_Name {
	padding-top: 6px;
	height: 36px;
}

#NewProduct .p_Price {
	color: #E42E2F;
}

/*Special_Product*/
.Special_Product {
	width: 546px;
	overflow: hidden;
}

.Special_Product h2 {
	width: 546px;
	height: 27px;
	background: url(i/gradual20100415.gif) #E7CA96 repeat-x 0 -181px;
}

.Special_Product h2 img {
	width: 152px;
	height: 16px;
	float: left;
	margin: 11px 10px 0 0px;
	padding-left: 15px;
}

.Special_Product h2 .SP_cornor_left,.Special_Product h2 .SP_cornor_right
	{
	background: url(i/gradual20100415.gif) no-repeat;
}

.Special_Product h2 .SP_cornor_left {
	width: 300px;
	height: 27px;
	float: left;
	background-position: left -434px
}

.Special_Product h2 .SP_cornor_right {
	width: 200px;
	padding-right: 8px;
	height: 27px;
	float: right;
	background-position: right -464px
}

.Special_Product h2 em {
	float: right;
	font-size: 12px;
	font-weight: normal;
	margin-top: 6px;
}

.Special_Product .Product_List_S3 {
	width: 524px;
	border: solid #E7CA96;
	border-width: 0 1px 1px;
	overflow: hidden;
}

.Special_Product .Product_List_S3 ul {
	margin-bottom: 0;
}

.Special_Product .Product_List_S3 li {
	border: 0;
	/*background: url(i/gradual20100415.gif) repeat-x 0 0;*/
}

.Special_Product .Product_List_S3 dl {
	background: none;
	padding-bottom: 5px;
}

.Special_Product .Product_List_S3 dl dt {
	margin-bottom: 15px;
}

.Special_Product .Product_List_S3 dd.p_Price {
	color: #E42E2F;
}

/*Rank_Sale*/
.Rank_Sale {
	width: 211px;
	overflow: hidden;
}

/*Rank_Sale_Option*/
.Rank_Sale_Option {
	border: solid #E7CA96;
	border-width: 0 1px;
}

.Rank_Sale_Option ul {
	width: 199px;
	height: 16px;
	padding: 9px 0 3px 4px;
	overflow: hidden;
	margin: 0 auto;
	border-bottom: 1px solid #D6290B;
}

* html .Rank_Sale_Option {
	overflow: hidden;
}

.Rank_Sale_Option li {
	width: 62px;
	height: 16px;
	line-height: 16px;
	padding-top: 3px;
	text-align: center;
	background: url(i/title20100415.gif) no-repeat -699px 0;
	float: left;
	margin-right: 4px;
	cursor: pointer;
	position: relative;
}

.Rank_Sale_Option .curr {
	padding-bottom: 6px;
	background-position: -636px 0;
	color: #fff;
	font-weight: bold;
}

/*Rank_Sale_List*/
.Rank_Sale_List {
	width: 197px;
	padding: 7px 6px;
	border: solid #E7CA96;
	border-width: 0 1px 1px;
}

.Rank_Sale_List ul {
	display: none;
	overflow: hidden;
}

.Rank_Sale_List ul li {
	width: 197px;
	height: 33px;
	text-align: left;
	overflow: hidden;
	border-top: 1px solid #efefef;
	float: left;
}

.Rank_Sale_List ul li.first {
	height: 46px;
	padding: 8px 0 7px;
	border-top: 1px solid #fff;
}

.Rank_Sale_List ul li span {
	display: block;
	width: 14px;
	height: 33px;
	line-height: 33px;
	text-align: center;
	font-size: 12px;
	font-family: Verdana, Arial;
	color: #D6290B;
	float: left;
	font-weight: bold;
	margin-right: 5px;
}

.Rank_Sale_List ul li.first span {
	height: 46px;
	line-height: 46px;
}

.Rank_Sale_List ul li div {
	padding: 4px 4px 4px 0;
	width: 50px;
	height: 38px;
	float: left;
}

.Rank_Sale_List ul li div img {
	width: 50px;
	height: 38px;
}

.Rank_Sale_List ul li strong {
	font-weight: normal;
	display: block;
	height: 33px;
	line-height: 36px;
	overflow: hidden;
	word-wrap: break-word;
	word-break: break-all;
}

.Rank_Sale_List ul li.first strong {
	height: 28px;
	line-height: 14px;
}

.Rank_Sale_List ul li em {
	color: #E42E2F;
	line-height: 18px;
	font-weight: bold;
}

.Rank_Sale_List .default {
	display: block;
}

/*ADS*/
.AD_L {
	width: 211px;
	overflow: hidden;
}

.AD_L img {
	width: 211px;
}

.AD_R {
	width: 211px;
	overflow: hidden;
}

.AD_R img {
	width: 211px;
}

.AD_R_1 {
	width: 546px;
	overflow: hidden;
}

.AD_R_1 img {
	width: 546px;
}

/*qg*/
.right_box1_right h3 {
	width: 176px;
	padding: 10px 0 0 35px;
	height: 17px;
	line-height: 17px;
	background: url(i/title20100415.gif) #E7CA96 no-repeat -424px 0;
	color: #D6290B;
}

.right_box1_right .timeBox {
	width: 209px;
	border: solid #E7CA96;
	border-width: 0 1px;
	padding-top: 4px;
	height: 23px;
	background: url(i/title20100415.gif) no-repeat -786px -74px;
	font-weight: normal;
	font-size: 12px;
	text-align: center;
	line-height: 23px;
}

.right_box1_right .timeBox strong {
	font-size: 20px;
	font-family: arial;
	padding: 0 3px;
	color: #E11400;
}

.right_box1_right .Product_List_S3 {
	width: 209px;
	border: solid #E7CA96;
	border-width: 0 1px 1px;
	overflow: hidden;
}

.right_box1_right .Product_List_S3 ul {
	margin-bottom: 0;
}

.right_box1_right .Product_List_S3 li {
	width: 211px;
	padding: 0;
	border: 0;
	background: url(i/title20100415.gif) no-repeat -786px -74px;
}

.right_box1_right .Product_List_S3 li.first {
	background: none;
}

.right_box1_right .Product_List_S3 dl {
	background: none;
	padding: 3px
}

.right_box1_right .Product_List_S3 dl dt {
	margin-bottom: 5px;
	position: relative;
}

.right_box1_right .Product_List_S3 dl dt img.q {
	position: absolute;
	width: 46px;
	height: 41px;
	right: 40px;
	bottom: 0;
}

.right_box1_right .Product_List_S3 dl dt img.qW {
	position: absolute;
	width: 46px;
	height: 47px;
	right: 40px;
	bottom: 0;
}

.right_box1_right .Product_List_S3 dd.p_Name {
	height: 36px;
}

.right_box1_right .Product_List_S3 dd.p_Price {
	color: #E42E2F;
	font-weight: bold;
}

.right_box1_right .Product_List_S3 dd.p_Price strong {
	font-size: 12px;
	font-family: arial;
}

.right_box1_right .Product_List_S3 dd.p_Price1 {
	color: #666;
}

.right_box1_right .Product_List_S3 dd.p_Price1 em {
	text-decoration: line-through;
}

.right_box1_right .Product_List_S3 dd.p_Price1 strong {
	color: #E42E2F;
}

.right_box1_right .loading {
	width: 209px;
	border: 1px solid #E7CA96;
	height: 369px;
}

.right_box1_right .loading img {
	margin: 180px auto 0;
}

/*online*/
.online-box {
	background: url(i/online/onbg_03.gif);
	width: 211px;
	height: 225px;
	overflow: hidden;
}

.input-radio input {
	margin-left: 5px;
}

.online-b-t {
	height: 30px;
	line-height: 30px;
	padding-left: 7px;
	color: #003979;
}

.online-info,.online-topic {
	padding-left: 17px;
	padding-right: 17px;
	overflow: hidden
}

.online-info {
	padding-top: 15px;
}

.online-topic {
	padding-top: 5px;
	height: 88px;
}

.online-topic li {
	overflow: hidden;
	zoom: 1;
	color: #666;
}

.online-time,.online-ht {
	width: 38px;
	float: left;
}

.online-time-date,.online-topic-cont {
	margin-left: 38px;
}

.online-h {
	height: 153px;
	overflow: hidden
}

.online-foot {
	height: 35px;
	line-height: 36px;
	padding-left: 11px;
	padding-right: 16px;
	color: red;
}

.enter-tl {
	float: right;
}
