.Border{}
.Background{background-color:#ECF5FF;}
.ImgBorder{border:1px solid #0770BB;}
.ImgBackground{background-color:#B0D3EE;}
.ButtonBackground{background-color:#E2E8EB}
.ButtonBorder{border-color:#FFFFFF #BEC6CE #BEC6CE #FFFFFF;border-style:solid;border-width:1px 2px 2px 1px;}
.loading{
	background:#ECF5FF url(../images/loading.gif) no-repeat scroll 5px 50%;
	border:1px solid #1C80C8;
	font-size:12px;
	height:25px;
	left:50%;
	line-height:25px;
	margin:-50px 0 0 -100px;
	padding-left:25px;
	padding-right:10px;
	position:absolute;
	text-align:left;
	top:50%;
	z-index:99;
}
/*=====后台模板中选项卡样式======*/
ul.tab{
	font-size:14px;
	height:30px;
	padding:10px 0 0 30px !important;
	vertical-align:bottom;
	clear:both;
	background:url(../images/tabbar_bg.gif) repeat-x scroll;
}
ul.tab li{
	background:#DAEC93 none repeat scroll 0 0;
	border-width:0;
	cursor:pointer;
	float:left;
	height:23px;
	line-height:24px;
	margin-left:3px;
	padding:0 25px;
}
ul.tab li a{
	color:#666666;
	font-size:12px;
	text-decoration:none;
}
ul.tab li.active{
	background:#FBFDFF none repeat scroll 0 0;
	border-color:#99CC00;
	border-style:solid;
	border-width:1px 1px 0;
	color:#000000;
	font-weight:bold;
	height:24px;
	line-height:25px;
}
ul.tab li.active a{
	color:#000;
}
/*=====后台模板中工具栏按钮样式======*/
/*定义列表容器中工具栏的样式，使用div元素*/
.toolbar{
	overflow:hidden;
	padding:7px 10px;
}

/*定义列表容器中工具栏列表的样式，使用ul元素*/
.toolbar ul{
	padding:0px;
	margin:0px;
}

/*定义列表容器中工具栏列表的样式，使用li元素*/
.toolbar ul li{
	margin:5px;
	padding-top:2px;
}

/*定义列表容器中工具栏按钮链接的样式，使用a元素*/
.toolbar li a{
	line-height: 21px;
	color: #234f8d;
	background: url(../images/button.gif);
	text-align: center;
	display: block;
	height: 21px;
	width: 60px;
	float: left;
	text-decoration: none;
}
