
.slideshow {
    position:relative;
    height:auto;
}

.slideshow DIV {
   /* position:absolute;*/
    top:0;
    left:0;
    z-index:8;
    opacity:0.0;
 
    background-color: #FFF;
}

.slideshow DIV.active {
    z-index:10;
    opacity:1.0;
}

.slideshow DIV.last-active {
    z-index:9;
}

.slideshow DIV IMG {
    display: block;
    border: 0;
    margin-bottom: 10px;
}
