ul.dmenu{
	font: 12px Verdana;
	list-style-type:none;
	margin:0px;
	padding:0px;
}
/* top level list items */
ul.dmenu li{
	position:relative;
	display:inline;
	float:left;
}
ul.dmenu li a{
	display:block;
	background1:#fff url('../images/dmenu_enabled.png') repeat-x scroll left bottom;
	border-color:#4d6c2f #4A7C01 ;
	border-style:solid;
	border-width:1px;
	text-align:center;
	padding:8px 10px;
	color:#CBDAB3;
	text-decoration:none;
	border1:1px solid #7eabcd;
	margin-right:1px;
	width:80px;
}
ul.dmenu li a:hover{
	background:#3559ac;
	background:#fff url('../images/dmenu_hover.png') repeat-x scroll left bottom;
	color:#000;
}


/* 1st sub level menu */
ul.dmenu li ul{
	position:absolute;
	left:0px;
	border:1px solid #7eabcd;
	padding:0px;
	margin:0px;
	display:none;
	list-style:none;
}
ul.dmenu li ul li{
	float:none;
	display:list-item;
	position:relative;
	border-bottom:0px solid #fff;
	border1:1px solid blue;
}
ul.dmenu li ul li.dmenu-sep{
	line-height:2px;
	font-size:2px;
	background:url('../images/dmenu_sep.png') repeat-x;
	margin:5px 0px;
}
ul.dmenu li ul li a{
	font: normal 13px Verdana;
	background:#f7f7f7;
	color:#1B5978;
	text-align:left;
	display:block;
	padding:5px 0px 5px 20px;
	margin:0px;
	border:0px;
	border-right:0px;
	white-space:nowrap;
	width:auto;
	line-height:16px;
}
ul.dmenu li ul li a:hover{
	background:#3559ac;
	color:#fff;
}
ul.dmenu li ul li span.dmenu-sep{
	display:block;
	line-height:1px;
	font-size:1px;
	background:#e0e0e0;
	margin:2px 3px;
	padding-top:1px;
	border-bottom:1px solid #fff;
}


/* all other sub level menu */
ul.dmenu li ul li ul{
	top:0px;
	position:absolute;
	left:100px;
}


.dmenu-icon{
	position:absolute;
	width:16px;
	height:16px;
	top:6px;
	left:5px;
}

.dmenu-shadow{
	position:absolute;
	background1:url('../images/dmenu_shadow.png') no-repeat bottom right;
	left1:0px;
	width1:200px;
	display:none;
	overflow:hidden;
	margin:0px;
	padding:0px;
	font-size:1px;
	line-height:10px;
}
.dmenu-shadow .dmenu-shadow-inner{
	background:#f7f7f7;
	width:100%;
	height:100%;
}

.dmenu-down-arrow{
	position:absolute;
	width:11px;
	height:8px;
	background:url('../images/dmenu_down_arrow.gif') no-repeat;
	right:8px;
	top:15px;
}

.dmenu-right-arrow{
	position: absolute;
	width:16px;
	height:16px;
	top:8px;
	right:-2px;
	background:url('../images/dmenu_right_arrow.gif') no-repeat;
}
