/*--------------------------------------------------------*/
/*					商品搜索的挂件
/*--------------------------------------------------------*/
.SearchBar table td { padding:0 5px; vertical-align:middle }
.SearchBar .inputstyle { padding:02px; }
.ArtListWrap ul li .date { float:right }
/*--------------------------------------------------------*/
/*					商品列表样式
/*--------------------------------------------------------*/
/*列表页面头部，里面包含了显示页面的切换方式，选择排序的下拉框以及上部的翻页*/
.GoodsSearchWrap .title { padding:3px 0 0 0; height:30px; line-height:30px; border-bottom:1px solid #ddd; }
.GoodsSearchWrap .title .pager { margin:0 }
.GoodsSearchWrap .title .listmode { color:#666; padding:5px 5px 0 0;}
.GoodsSearchWrap .title .pagemode { float:right; margin:0 10px 0 0; }
.GoodsSearchWrap .title .listmode .info { float:left; }
.GoodsSearchWrap .title .listmode span { cursor:pointer; margin:0 2px; display:block; float:left; text-indent:-9999px; display:block; overflow:hidden; width:18px; height:18px; }
.GoodsSearchWrap .title .listmode .list_index { background:url(list_style_1.gif) no-repeat; }
.GoodsSearchWrap .title .listmode .list_grid { background:url(list_style_2.gif) no-repeat; }
.GoodsSearchWrap .title .listmode .list_text { background:url(list_style_3.gif) no-repeat; }
.GoodsSearchWrap .title .listmode .current { background-position:0 -20px; }
.GoodsSearchWrap .title .filtmode { padding-top:3px; float:right; }
.GoodsSearchWrap .title .search_total{ float:left; margin:5px 5px 0 5px; border-left:1px solid #CCC; height:17px; line-height:17px; padding-left:7px;}


/*
此处当前版本不可用
.GoodsSearchWrap .title .listorder{ float:left; padding:5px 5px 0 0;}
.GoodsSearchWrap .title .listorder span, .GoodsSearchWrap .title .listorder a{ background:url(list_order.gif) repeat-x; border:1px solid #d9d9d9; color:#4a4a4a; cursor:pointer; margin:0 0 0 -1px; display:block; float:left; width:43px; height:17px; line-height:17px; text-decoration:none; position:relative;}
.GoodsSearchWrap .title .listorder i{background:url(list_order.gif) no-repeat right -47px; display:block; padding:0 0 0 5px; margin-right:2px;}
.GoodsSearchWrap .title .list_desc i{ background-position:right -97px;}
.GoodsSearchWrap .title .list_asc_on i{ background-position:right -147px;}
.GoodsSearchWrap .title .list_desc_on i{ background-position:right -197px;}

.GoodsSearchWrap{clear:both;margin:0 auto 15px;}
.GoodsSearchWrap h6{margin:0;padding:0;font-size:1.2em;line-height:1.2em;}
.GoodsSearchTabs{float:right;margin:0 5px 0 0;}
.GoodsSearchTabs li{float:left;margin:0 2px;height:24px;overflow:hidden;}
.GoodsSearchTabs li a{color:#666666;display:block;background:url(list_title_tabl.gif) no-repeat left -24px;padding:6px 0 0 10px;}
.GoodsSearchTabs li span{display:block;	background:url(list_title_tabr.gif) no-repeat right -24px;padding:6px 10px 0 0;margin:-6px 0 0 0;}
.GoodsSearchTabs li.current a{background:url(list_title_tabl.gif) no-repeat left top;color:#FFFFFF;}
.GoodsSearchTabs li.current span{background:url(list_title_tabr.gif) no-repeat right top;}
*/

.GoodsSearchWrap .ItemsWarp td { vertical-align:top; white-space:nowrap; }
/*以列表的方式显示*/
.GoodsSearchWrap .items-list { padding:10px 0; border-bottom:1px solid #ddd; }
.GoodsSearchWrap .items-list .goodpic { padding-right:10px; }
.GoodsSearchWrap .items-list .goodinfo { color:#666; white-space:normal; padding-right:10px; }
.GoodsSearchWrap .items-list .price_button { }
.GoodsSearchWrap .items-list .price_button li { white-space:nowrap; }
.GoodsSearchWrap .items-list .price_button .button { margin:5px 0 4px 0; }
.GoodsSearchWrap .items-list .price_button .button li { height:27px; }
.GoodsSearchWrap .items-list .button .addcart { width:92px; background:url(list_btns.gif) no-repeat; }
.GoodsSearchWrap .items-list .button .present { width:92px; background:url(list_btns.gif) no-repeat 0 -135px; }
.GoodsSearchWrap .items-list .button .star-off { width:68px; background:url(list_btns.gif) no-repeat 0 -81px; }
.GoodsSearchWrap .items-list .button .star-on { width:68px; background:url(list_btns.gif) no-repeat 0 -27px; }
.GoodsSearchWrap .items-list .button .btncmp { width:68px; background:url(list_btns.gif) no-repeat 0 -54px; }
.GoodsSearchWrap .items-list .button .nobuy { width:92px; background:url(list_btns.gif) no-repeat 0 -108px; }
.GoodsSearchWrap .items-list .button li.vdetail { display:none; }
/*以橱窗的方式显示*/
.GoodsSearchWrap .items-gallery { overflow:hidden; text-align:center; padding:2px; margin:3px; background:#f2f2f2; border-top: 1px solid #eee; border-left: 1px solid #eee; border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; }
.GoodsSearchWrap .items-gallery h6 a { font-weight:normal; }
.GoodsSearchWrap .items-gallery h6 { margin-bottom:5px; line-height:15px; }
.GoodsSearchWrap .items-gallery .goodpic { margin-bottom:5px; }
.GoodsSearchWrap .items-gallery .goodpic a { margin:6px; background:#fff; }
.GoodsSearchWrap .items-gallery .goodpic img { }
.GoodsSearchWrap .items-gallery .goodinfo { text-align:left; margin:6px; }
.GoodsSearchWrap .items-gallery .goodinfo h6 { height:32px; }
.GoodsSearchWrap .items-gallery .goodinfo .price1 { font-size:14px; }
.GoodsSearchWrap .items-gallery .button { text-align:center; float:right; padding:1px; background:#fff; border:1px solid #ddd; }
.GoodsSearchWrap .items-gallery .button li { margin:0; background:#fff; padding:0; }
.GoodsSearchWrap .items-gallery .button a { width:20px; height:20px; }
.GoodsSearchWrap .items-gallery .button .addcart { display:none; }
.GoodsSearchWrap .items-gallery .button .btncmp { background:url(goodsgallary_icon.gif) 1px 0 no-repeat; }
.GoodsSearchWrap .items-gallery .button .viewpic { background:url(goodsgallary_icon.gif) 0 -25px no-repeat; }
.GoodsSearchWrap .items-gallery .button .star-off { background:url(goodsgallary_icon.gif) 0 -75px no-repeat; }
.GoodsSearchWrap .items-gallery .button .star-on { background:url(goodsgallary_icon.gif) 0 -50px no-repeat; }
.GoodsSearchWrap .items-gallery .button .nobuy { background:url(goodsgallary_icon.gif) 0 -124px no-repeat; }
/*以文字的方式显示*/
.GoodsSearchWrap .items-text a,
.GoodsSearchWrap .items-text .textbutton li { text-indent:0; display:inline; position:static; padding:0 2px; text-decoration:underline; color:#666; }
.GoodsSearchWrap .items-text .textbutton li.addcart { display:none; }
.GoodsSearchWrap .items-text .textbutton li.vdetail { display:none; }
.GoodsSearchWrap .items-text .pic a { position:relative; }
.GoodsSearchWrap .items-text .pic a span { position:absolute; }
.GoodsSearchWrap .items-text .pic a:hover { z-index:10000; }
.GoodsSearchWrap .items-text .pic a:hover span { top:20px; left:0; border:1px solid #ccc; padding:5px; background:#fff; }
.GoodsSearchWrap .items-text .nobuy a { color:#f00; }
.GoodsSearchWrap .button a { text-indent:-9999px; display:block; cursor:pointer; height:27px; }
.GoodsSearchWrap .button li { padding:0; display:inline-block; *display:inline;
zoom:1; margin:0 2px 0 0; }
.GoodsSearchWrap li.vdetail { display:none; }
.GoodsSearchWrap .button .buy-select { width:50px; height:27px; vertical-align:bottom; z-index: 200; }
/*会员中心商品收藏*/
#mbc-my-fav .star-on,
#mbc-my-fav .star-off { display:none; }
#mbc-my-fav .addcart { background:none; }
#mbc-my-fav .addcart a { text-indent: 0; }
#mbc-my-fav .button { margin:0; }
#mbc-my-fav .button li,
#mbc-my-fav .button a { height:auto; }
#mbc-my-fav .buy-select-list { margin-top:0; }
/*商品列表页面的请选择规格*/
.button .buy-select-list { width:180px; position:absolute; margin-top:2px; *margin-top:22px;
z-index:99; }
.button .buy-select-list td { border-bottom:1px solid #ccc; padding:3px 0; }
.button .buy-select-list a { text-indent:0; display:inline; color:#666; }
.button .buy-select-list .btnbuy { width:43px; height:20px; line-height:20px; background:url(btn_2.gif) no-repeat center; display:block; text-align:center; }
/*进阶式搜索的商品筛选*/	
.GoodsSelector { margin:0 0 5px 0; }
.GoodsSelector h5 { margin:2px 0; }
.GoodsSelector a { color:#3366cc; margin:0 20px 0 0; }
.GoodsSelector a.remove { color:#f60; font-weight:bold; background:url(selector_arr.gif) no-repeat; padding:0 0 0 15px; }
.GoodsSelector a.remove:hover { background-position: 0 -20px; }
.GoodsSelector .num { font-size:0.8em; color:#333333; margin-left:1px; }
/*--------------------------------------------------------*/
/*					商品规格相关
/*--------------------------------------------------------*/
.goods-spec { overflow:auto; height:100%; line-height:180%; }
.goods-spec .curr { z-Index:10 }
.goods-spec .spec-selected { font-size:13px; color:#fff; font-weight:bold; color:#333; }
.goods-spec .spec-item { clear:left; overflow:hidden; }
.goods-spec li { float:left; margin:3px; min-width:1.5em;}
.goods-spec a { border:1px #fff solid; display:block; position:relative; background:#fff; margin:0; overflow:hidden; *overflow:visible; *float:left; }
.goods-spec a i { display:none; background:url(item_sel.gif) no-repeat 0 0; height:12px; overflow:hidden; width:12px; position:absolute; bottom:-1px; right:-1px; text-indent:-9999em; }
.goods-spec a span,
.goods-spec a img { border:1px #ccc solid; padding:1px; background:#fff; color:#333; display:block; }
.goods-spec a span { padding:1px 6px 1px 6px; line-height:15px; white-space:nowarp; background:url(goodspecbg.gif);word-break: break-all }
.goods-spec a:hover { border-color:#f90; }
.goods-spec a:hover img,
.goods-spec a:hover span{ border-color:#fff; }
.goods-spec .selected,
.goods-spec .selected:hover,
.goods-spec .selected span,
.goods-spec .selected:hover span,
.goods-spec .selected:hover img,
.goods-spec .selected img { border-color:#f90; }
.goods-spec .selected i { display:block;}
.goods-spec a.lock,
.goods-spec a.lock:hover { border-color:#ccc; border-style:dotted; cursor:not-allowed; }
.goods-spec a.lock span,
.goods-spec a.lock img { border-color:#fff; opacity:.2; filter:alpha(opacity=20);  *color:#ccc;
}
.goods-spec .handle { border:1px #ccc solid; padding:0 2px 0 5px; color:#999; cursor:pointer; position:relative; z-Index:10; background:#fff; }
.goods-spec .handle.curr:hover{border:1px #ccc solid; border-bottom:0;}
.goods-spec .handle em { color:#333; }
.goods-spec .handle span { display:inline; padding:1px 15px 1px 0; background:transparent url(arrowdown.gif) no-repeat scroll 100% 50%; }
.goods-spec .curr { border-bottom:none; padding-bottom:1px; color:#333; }
.goods-spec .handle .select { color:#333; }
.goods-spec .content { display:none; padding:5px; border:1px #ccc solid; position:absolute; z-index:1; background:#fff; }
.goods-spec .content-curr { display:block; background:#ddd; z-index:20;}
.goods-spec .spec-selected-error { color:#ff0000; }
table.spec-item th,
table.spec-item td { vertical-align:middle; }
.GoodsSelector .goods-spec .selected { background:#FF9; }
.GoodsSelector .goods-spec .selected span { font-weight:bold; }
.GoodsSelector .goods-spec .curr { padding-bottom:7px; margin-bottom:-1px; background:#eee; }
.GoodsSelector .goods-spec .content { position:static; float:none; clear:left; overflow:auto; margin-top:0; height:100%; background:#eee}
/*--------------------------------------------------------*/
/*					对比
/*--------------------------------------------------------*/
.cmpresult th { white-space:nowrap; }
/*--------------------------------------------------------*/
/*					商品详细页
/*--------------------------------------------------------*/
.GoodsInfoWrap { overflow:hidden }
.GoodsInfoWrap i { font-style:normal; font-family:Tahoma, Verdana, Arial; }
.GoodsInfoWrap .goodsname { font-size:14px; border:none; background:none; color:#000000; margin:0; padding:0 0 5px 0; }
.GoodsInfoWrap .note { color:#999999; margin:3px 0; }
.GoodsInfoWrap .brief { margin:0; padding:0 0 5px 0; color:#369; }
.GoodsInfoWrap .goodsprops { font-family:Tahoma, Verdana, Arial; border-top:1px dotted #a6a6a6; border-bottom:1px dotted #a6a6a6; padding:10px 0; margin:0 0 5px 0; }
.GoodsInfoWrap .goodsprops i { color:#777 }
.GoodsInfoWrap .goodsprops span { padding-right:5px; }
.GoodsInfoWrap .goodsprops li { float:left; width:49%; padding:2px 0; color:#000; 
overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
.GoodsInfoWrap .goodsprops li.line { clear:both; float:none; display:block; }
.GoodsInfoWrap .goodsprops .spec { float:none; width:100%; }
.GiftRule { margin:10px; padding:5px 10px; border:1px solid #EEEEEE; background:#FBFDFF; }
.GiftRule h4 { margin:0 0 5px 0; font-size:1.2em; }
.GoodsInfoWrap .giftchange { margin:10px 20px; }
.GoodsInfoWrap .mktprice i { color:#a4a4a4; text-decoration:line-through; }
.GoodsInfoWrap .userselect { padding:5px; background:#fffee6; border:1px solid #e7dbb1; margin:10px 0 10px 0;  }
.GoodsInfoWrap .userselect .desc { padding:0 5px; }
.GoodsInfoWrap .userselect .goodsspec { }
.GoodsInfoWrap .userselect .goodsspec td { white-space:nowrap; padding:3px 5px; }
.GoodsInfoWrap .choose { border:none; margin:5px 0; }
.GoodsInfoWrap .adjtitle { z-index:1; position:relative; }
.GoodsInfoWrap .goods-adjunct-row .inputstyle { width:2em; padding:1px; }
.GoodsInfoWrap .choose .error { color:#e33c1c; }
.GoodsInfoWrap .choose .memberprice i { font-size:12px; }
.GoodsInfoWrap .choose table { background:#FFFFFF; border:1px solid #a9a9a9; }
.GoodsInfoWrap .adjpc { padding:0; margin:0; color:#464646; }
.GoodsInfoWrap .choose .buynum { height:16px; border:1px solid #c5c5c5; width:15px; padding:0 3px; background:#fff; }
.GoodsInfoWrap .choose td { padding:3px; border-bottom:1px dotted #ccc; }
.GoodsInfoWrap .choose .last td { border:none; }
.goodsaction { padding:15px 20px; }
.goodsaction .g-msg { display:inline; margin:0; padding:0; margin-left:40px; }
.error .goodsaction .g-msg { color:#e33c1c; font-weight:bold; }
.goodsaction .g-product,
.goodsaction .g-adjunct { padding:2px; margin:0; color:#53585F; font-weight:normal; letter-spacing:0.1em; }
.GoodsInfoWrap .g-total-price { font-size:1.4em; color:#FF6600; font-weight:normal; }
.GoodsInfoWrap .btnBar { padding:2px; }
.GoodsInfoWrap .btnBar .btns { float:left; }
.GoodsInfoWrap .btnBar ul { padding-top:15px; }
.GoodsInfoWrap .btnBar li { display:inline; }
.GoodsInfoWrap .btnBar a { margin:0 5px; }
.GoodsInfoWrap .btnBar .btn-notify { width:126px; height:34px; }
.GoodsInfoWrap .btnBar .btn-fav,
.GoodsInfoWrap .btnBar .btn-send { background:url(btn_ginfo_links.gif) no-repeat; padding:0 0 0 15px; }
.GoodsInfoWrap .btnBar .star-on .btn-fav { background-position:0 -20px; }
.GoodsInfoWrap .btnBar .btn-send { background-position:0 -40px; }
.pdtdetail h2 { font-size:14px; border:0; padding-left:0; color:#000; }
.pdtdetail .indent { padding:5px 10px; }
.pdtdetail * { line-height:180%; }
.hightline {background:#FFFEE6;border:1px solid #E7DBB1;}
.hightbox {border:2px solid #fff;padding:5px;}

.buyinfo {padding-top:5px;}
/*--------------------------------------------------------*/
/*					商品详细页 图片
/*--------------------------------------------------------*/
.goods-detail-pic { overflow:hidden; width:300px; height:300px; vertical-align:middle; text-align:center; }
.goods-detail-pic a { border:none; visibility:hidden; overflow:hidden; display:block; }
.goods-detail-pic_loading { background:#ffffff url(loading.gif) no-repeat center center!important; }
.goodspic { padding:0 20px 0 0; }
.goods-detail-pic-thumbnail { margin:0 auto; width:265px; }
.goods-detail-pic-thumbnail a { display:block; border:2px solid #fff; width:47px; height:47px; overflow:hidden; }
.goods-detail-pic-thumbnail a:hover { border-color:#ccc; }
.goods-detail-pic-thumbnail a img { border:none; padding:1px; background:#fff; width:45px; height:45px; }
.goods-detail-pic-thumbnail .uparrow { height:6px; font-size:0; background:transparent url(upyellowarrow.gif) no-repeat 50% 100%; visibility:hidden }
.goods-detail-pic-thumbnail .current .uparrow { visibility:visible; }
.goods-detail-pic-thumbnail .current a,
.goods-detail-pic-thumbnail .current a:hover { border-color:#ff6600; }
.goods-detail-pic-thumbnail .current a img,
.goods-detail-pic-thumbnail .current a:hover img { border-color:#ffffcc; }
.picscroll { margin:10px 0 10px 0; }
.picscroll th,
.picscroll td { vertical-align:middle; text-align:center; }
.picscroll .scrollarrow { cursor:pointer; background:url(scollpicarrow.gif) no-repeat 0% 50%; visibility:hidden; }
.picscroll .pics { text-align:center; overflow:hidden; white-space:nowarp; }
.picscroll .pics table,
.picscroll .pics table th,
.picscroll .pics td { padding:0; margin:0; border:0; }
.picscroll .toright { background-position:100% 50%; }
/*--------------------------------------------------------*/
/*					商品详细页 捆绑商品
/*--------------------------------------------------------*/
.GoodsPackageWrap { border:1px solid #d0d0d0; border-top:none; background:url(package_bg.gif) repeat-x; padding:5px 10px; margin-bottom:40px; }
.GoodsPackageWrap .items { border-bottom:1px dotted #ccc; padding:5px 0; }
.GoodsPackageWrap .last { border:none; }
.GoodsPackageWrap .itemwrap { float:left; width:65%; min-height:136px; overflow-x:auto; overflow-y:visible; padding-bottom:10px; _padding-bottom:15px; }
.GoodsPackageWrap dl { padding:0 5px; width:150px; text-align:center; }
.GoodsPackageWrap .plus { font-size:25px; color:#a1a1a1; padding:20px 0 0 0; width:20px; }
.GoodsPackageWrap .priceinfo { float:left; margin-left:40px; }
.GoodsPackageWrap .buy { margin-top:5px; }
/*--------------------------------------------------------*/
/*					商品详细页 tab
/*--------------------------------------------------------*/
.goodspackagewrap,
.goods-detail-tab { margin:30px 0 0 0; background:url(tabsepbg.gif) repeat-x 0 1px; padding-left:5px; overflow:visible; }
.goodspackagewrap div,
.goods-detail-tab div { cursor:pointer; background:url(tabs_common.gif) no-repeat; color:#666666; display:block; float:left; height:17px; padding:4px 2px; text-align:center; width:91px; }
.goodspackagewrap .active,
.goods-detail-tab .active { background:url(tabs_on.gif) no-repeat; color:#000000; display:block; font-size:14px; font-weight:bold; height:28px; position:relative; margin-bottom:-4px; margin-top:-8px; padding-top:6px; width:117px; }
/*--------------------------------------------------------*/
/*					网站地图导航导航
/*--------------------------------------------------------*/
.Navigation { color:#888; line-height:36px; }
.Navigation a { color:#888; text-decoration:underline }
.Navigation span { margin:0 5px 0 0; }
.Navigation .now { font-weight:700; }
/*--------------------------------------------------------*/
/*					捆绑商品页面 捆绑商品
/*--------------------------------------------------------*/
.PackageGoodsWrap .items h3 { border:1px solid #ccc; padding:0 0 0 70px; margin-bottom:15px; background:#f2f2f2 url(packageinfobg.gif) no-repeat; line-height:25px; }
/*--------------------------------------------------------*/
/*					品牌
/*--------------------------------------------------------*/
.BrandWrap .img a { text-align:center; display:block; height:120px; overflow:hidden; width:120px; margin:0 auto; }
.BrandWrap .intro { height:42px; }
.BrandWrap .items { margin-top:10px; margin-bottom:5px; width:22%; overflow:hidden; }
.BrandWrap dl { }
.BrandWrap dl dt { height:120px; width:120px; text-align:center; margin:0 auto; }
.branddetail { margin-bottom:10px; border-bottom:1px solid #ccc; padding:5px 0 }
.branddetail .brandtitle td { vertical-align:middle }
/*--------------------------------------------------------*/
/*					友情连接
/*--------------------------------------------------------*/
.linksWrap { }
.linksWrap .img a { width:90px; height:90px; display:block; margin:0 auto; overflow:hidden }
/*--------------------------------------------------------*/
/*					购物车
/*--------------------------------------------------------*/
.CartWrap { clear:both; }
.CartWrap .CartNav { background:url(cartnav-bg.gif); height:64px; padding-right:10px; }
.CartWrap .FormWrap ol { width:300px; }
.CartWrap .FormWrap ol li { margin:0 0 0 30px; padding:3px; list-style:decimal; text-align:left }
.CartWrap .totalprice { font-size:1.2em; font-weight:bold; color:#FF3300; }
.CartWrap .recommend .gofavor { text-align:right; padding:0 10px; }
.CartWrap .CartBtn table { margin:0 auto; }
.CartWrap .fieldin { padding:5px; }
.CartWrap .row { margin:10px 0; }
.CartWrap .note { margin:0 0 0 5px; color:#999999; }
.CartWrap .FormWrap .division { padding:5px; border:1px solid #ccc; }
.CartWrap #amountInfo { background:#F5F4EC; border:1px solid #E5DDC7; }
/*--------------------------------------------------------*/
/*					登录注册
/*--------------------------------------------------------*/
.RegisterWrap { margin:10px; }
.RegisterWrap .leftpart { float:left; width:58%; margin-right:50px; }
.RegisterWrap .righttop { float:right; width:35%; height:120px; }
.RegisterWrap .rightbottom { float:right; width:35%; height:100px; }
.RegisterWrap h4 { font-size:14px; padding:0; margin:3px 0; }
.RegisterWrap .intro { color:#999; }
.RegisterWrap .form { border:1px solid #ccc; padding:15px; margin:10px 0; }
.RegisterWrap .form table th { width:100px; font-size:14px; font-weight:normal; text-align:right; padding:7px 0; vertical-align:middle }
.RegisterWrap .form table td { vertical-align:middle }
.RegisterWrap .form table th i { padding:0 5px; color:#f60; }
/*--------------------------------------------------------*/
/*					会员中心
/*--------------------------------------------------------*/

.siteparttitle { height:65px; background:url(sitepartbg.gif); }
.siteparttitle .title { width:154px; height:65px; background:url(siteparttitle.gif); float:left; }
.siteparttitle .main { width:100%; margin:0 0 0 -154px; float:left; }
.siteparttitle .main .content { padding:7px 0 0 174px; }
.siteparttitle .main .content .user { border-right:1px solid #ccc; padding:0 14px 0 0; float:left; margin-right:20px; }
.siteparttitle .main .content strong { font-size:14px; color:#f90; font-weight:700; }
.siteparttitle .main .content .info { padding-top:7px; float:left; margin-right:20px; }
.MemberCenter { }
.MemberCenter h1 { border:0; background:0; padding:5px 0; font-size:14px; font-weight:normal; color:#999; }
.MemberSidebar { width:163px; float:left; _border-right:1px solid #ccc; _overflow:hidden; }
.MemberMain { width:790px; margin:0; float:right; }
.MemberMain ol li { margin:0 30px; }
.MemberMenu { border-right:1px solid #ccc; padding-top:8px; }
.MemberMenu .body { padding-top:0; }
.MemberMenu a { padding:0 30px 0 0; _padding:0 15px 0 0; display:block; width:150px; text-align:right; }
.MemberMenu .current a { _position:relative; z-index:1; font-weight:bold; background:#fff url(siteactivemenubg.gif) no-repeat; height:32px; line-height:32px; }
.MemberMenu span { display:block; font-weight:bold; font-size:12px; color:#333; margin:5px 0; border-bottom:1px solid #efefef; }
.MemberMenu li { line-height:20px; }
.MemberMenu ul li ul a { text-decoration:underline; }
/*会员中心后台阅读信息时，显示与隐藏的切换*/
.viewmsgoff { background:url(icon_map.gif) no-repeat 0 -158px; padding:0 0 0 15px; }
.viewmsg { background:url(icon_map.gif) no-repeat 0 -118px; padding:0 0 0 15px; }
/*--------------------------------------------------------*/
/*					对自定义页面的html元素重新定义
/*--------------------------------------------------------*/

.pageWrap { }
.pageWrap h2 { margin:15px 0; color:#666 }
.pageWrap h4 { margin:10px 0; border-bottom:1px solid #ddd; background:url(arrowleft-orange.gif) 0 5px no-repeat; padding-left:14px; }
.pageWrap ol li { color:#666 }
/*--------------------------------------------------------*/
/*					高级搜索
/*--------------------------------------------------------*/
.SearchMoreWrap { margin:10px 0; }
.SearchMoreWrap .division table.forform th,
.SearchMoreWrap .division table.forform td { vertical-align:middle; }
.SearchMoreWrap #search_cat_view .row { float:left; margin:3px 0; }
.SearchMoreWrap #search_cat_view .row label { width:140px; overflow:hidden; font-weight:normal; display:block; float:none; text-align:left; color:#369; margin-top:8px; }
.SearchMoreWrap #search_cat_view .row select { width:120px; }
/*--------------------------------------------------------*/
/*					表单
/*--------------------------------------------------------*/
.section .row { clear:both; overflow:hidden; }
.lineheight-free,
.lineheight-free * { line-height: normal; }
.themefoot { margin:0 auto; }
