?@import url("border.css");
@import url("widgets.css");
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td
	{
	margin: 0;
	padding: 0;
}

html {
	border: 0;
	width: 100%;
}

body {
	font-family: "宋体", Arail, verdana;
	font-size: 12px;
	line-height: 1.5em;
	color: #222;
	background: url(i/gradual20100415.gif) #fff repeat-x 0 -719px;
}

img {
	border: none;
	display: block;
}

input,img,select {
	vertical-align: middle;
}

ul,ol {
	list-style: none;
}

em {
	font-style: normal;
}

a {
	text-decoration: none;
}

a:link,a:visited {
	color: #222;
}

a:hover,a:active {
	/*text-decoration: underline;*/
	color: #f30;
}

h1 {
	font-size: 16px;
}

h2,h3,h4 {
	font-size: 14px;
}

h5,h6 {
	font-size: 12px;
}

/*--------------------------------------Wrap----------------------------*/
.Main {
	width: 1200px;
	margin: 8px auto 0;
	overflow: hidden;
	background: #fff;
}

.float_Left {
	float: left;
}

.float_Right {
	float: right;
}

.align_Left {
	text-align: left;
}

.align_Center {
	text-align: center;
}

.align_Right {
	text-align: right;
}

.margin_b6 {
	margin-bottom: 6px;
}

.margin_b0 {
	margin-bottom: 0;
}

.m_line {
	text-decoration: line-through;
}

.clear {
	height: 1px;
	line-height: 1px;
	font-size: 0;
	clear: both;
	overflow: hidden;
}

/*--------------------------------------Header----------------------------*/
.Header {
	width: 1200px;
	margin: 0 auto;
}

/*Logo*/
#Logo {
	width: 167px;
	float: left;
	height: 46px;
	padding:20px 24px 0 0;
}

/*head_box1*/
.head_box1 {
	width: 980px;
	float: right;
}

/*Tip*/
#Tip {
	width: 566px;
	z-index: 10;
	padding: 13px 0 12px 100px;
	height: 18px;
	float: left;
	position: relative;
}

#Tip span {
	color: #9D9FA2;
}

#Tip img {
	display: inline;
	margin: -2px 4px 0 0;
}

/*MiniToolBar*/
#MiniToolBar {
	width: 304px;
	float: right;
	height: 25px;
	background: url(i/bg_head.jpg) no-repeat right -50px;
}

#MiniToolBar a:link,#MiniToolBar a:visited {
	color: #333;
}

#MiniToolBar ul {
	padding: 0 5px;
	height: 25px;
	line-height: 25px;
	background: url(i/bg_head.jpg) no-repeat -366px -160px;
}

#MiniToolBar li {
	width: 50px;
	float: left;
	text-align: center;
	color: #B8D1EA;
}

* html #MiniToolBar li {
	position: relative;
	z-index: 100;
}

#MiniToolBar li.line {
	width: 10px;
	padding: 0;
	overflow: hidden;
}

#MiniToolBar li.line-1 {
	width: 4px;
	padding-left: 2px;
}

#MiniToolBar li.hsub {
	width: 68px;
	background: url(i/title20100415.gif) no-repeat -917px 8px;
}

#MiniToolBar li.lpk,#MiniToolBar li.ybt {
	width: 40px;
}

#MiniToolBar li.ybt a:link,#MiniToolBar li.ybt a:visited {
	color: red;
}

#MiniToolBar dd {
	display: none;
}

#MiniToolBar dl.dis {
	border: solid #D0E0F1;
	border-width: 0 1px 1px;
	width: 66px;
	background: #fff;
	position: relative;
	z-index: 1000;
	overflow: hidden;
}

* html #MiniToolBar dl.dis {
	position: absolute;
	left: 0;
	top: 0;
}

#MiniToolBar dl.dis dd {
	display: block;
	line-height: 20px;
	text-align: center;
}

/*Tel*/
#Tel {
	float: right;
	display: none;
}

/*Nav*/
#Nav {
	height: 28px;
	background: url(i/spring_12002010.gif) no-repeat right 5px;
}

#Nav a:link,#Nav a:visited {
	color: #222;
}

#Nav li {
	height: 28px;
	float: left;
	position: relative;
}

/*#Nav img.new{position:absolute;right:2px;top:-9px;}*/
#Nav span {
	height: 28px;
	display: block;
	background: url(i/bg_head.jpg) #D6290B no-repeat right -80px;
	float: left;
}

#Nav span a {
	height: 25px;
	display: block;
	padding: 3px 20px 0;
	background: url(i/bg_head.jpg) no-repeat -366px -190px;
	font-size: 14px;
	font-weight: bold;
	line-height: 25px;
	float: left;
}

#Nav span.Nav_first a {
	background: url(i/bg_head.jpg) no-repeat -366px -220px;
}

#Nav li.curr span {
	background: url(i/bg_head.jpg) #D6290B no-repeat right -110px;
}

#Nav li.curr a:link,#Nav li.curr a:visited {
	background: url(i/bg_head.jpg) no-repeat -362px -250px;
	color: #fff;
}

#Nav #exchange {
	width: 88px;
	height: 25px;
	padding: 3px 0 0;
	margin-left: 6px;
	background: url(i/bg_head.jpg) #D6290B no-repeat 0 -80px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	line-height: 25px;
}

#Nav #exchange a:link,#Nav #exchange a:visited,#Nav #exchange a:hover,#Nav #exchange a:active
	{
	color: #C30;
	background: none;
}

/*head_box2*/
.head_box2 {
	width: 1200px;
	height: 68px;
	margin-top: -1px;
	background: #D6290B url(i/spring_12002010.gif) no-repeat 0 -32px;
}

* html .head_box2 {
	overflow: hidden;
}

.head_box2_left {
	width: 5px;
	height: 68px;
	float: left;
	visibility: hidden;
}

.head_box2_right {
	width: 5px;
	height: 68px;
	float: right;
	visibility: hidden;
}

/*Search*/
#HotKeyword {
	width: 1150px;
	height: 18px;
	padding: 7px 10px 0;
	margin: 0 auto 8px;
	color: #fff;
	overflow: hidden;
}

#HotKeyword strong {
	font-size: 12px;
	color: #fff;
}

#HotKeyword a:link,#HotKeyword a:visited {
	color: #fff;
	margin-right: 12px;
}

#Search {
	width: 500px;
	height: 34px;
	padding-left: 20px;
	float: left;
}

#Search li {
	height: 34px;
	line-height: 34px;
	float: left;
}

#Search strong {
	font-size: 12px;
	color: #fff;
}

#Search a:link,#Search a:visited {
	color: #fff;
}

li.S_input {
	position: relative;
	z-index: 19990;
	margin-right: 5px;
}

.S_input1 {
	width: 341px;
	padding: 2px;
	height: 16px;
	line-height: 16px;
	border: 1px solid #AC1E05;
	float: left;
	/*margin-top: 6px;*/
	color: #999;
}

li.S_go {
	height: 39px;
	line-height: 0;
	overflow: hidden;
}

.S_input2 {
	width: 43px;
	height: 22px;
	background: url(i/bg_head.jpg) no-repeat 0 -120px;
	border: 0;
	float: left;
	margin-top: 6px;
	cursor: pointer;
}

/*Se_tip*/
#Se_tip {
	position: absolute;
	z-index: 5000;
	background: #fff;
	border: 1px solid #1C618E;
	width: 345px;
	line-height: 20px;
	display: none;
	top: 27px;
	left: 0px;
}

.Se_tip_item {
	padding: 0 2px;
	height: 20px;
	cursor: pointer;
	overflow: hidden;
}

.Se_tip_item span {
	width: 270px;
	display: block;
	word-wrap: break-word;
	word-break: break-all;
	height: 20px;
	oveflow: hidden;
}

.Se_tip_item em {
	float: right;
	color: #008400;
	font-size: 11px;
}

.Se_tip_close {
	padding: 0 2px;
	text-align: right;
}

/*Cart*/
#Cart {
	width: 313px;
	height: 20px;
	padding: 3px 0 2px 35px;
	margin: 4px 20px 0 0;
	background: url(i/bg_head.jpg) no-repeat 0 -160px;
	float: right;
	line-height: 20px; *
	line-height: 22px;
	overflow: hidden;
}

#Cart li {
	float: left;
}

.C_num {
	width: 140px;
	padding-right: 7px;
	text-align: center;
	margin-right: 14px;
}

.C_num a:link,.C_num a:visited {
	color: #A0410A;
}

.C_num strong {
	color: #4589BF;
}

#CartSwitch {
	cursor: pointer;
	float: right;
	margin-top: 2px;
	width: 14px;
	height: 15px;
	background: url(i/bg_head.jpg) no-repeat 0 -190px;
}

.C_bal {
	width: 50px;
	padding-left: 20px;
	margin-right: 0;
}

.C_ord {
	width: 55px;
	padding-left: 24px;
	margin-right: 0;
}

.C_bal a:link,.C_bal a:visited,.C_ord a:link,.C_ord a:visited {
	color: #333;
}

/*MyCart*/
#MyCart {
	width: 364px;
	display: none;
}

.MyCart_List {
	width: 358px;
	border: 3px solid #FCD410;
	background: #fff;
}

.MyCart_List strong {
	color: #FF2400;
}

.MyCart_List ul {
	width: 348px;
	padding: 5px 5px 0;
	overflow: hidden;
}

.MyCart_List li {
	width: 338px;
	padding: 0 5px;
	overflow: hidden;
	border-bottom: 1px dotted #D1E2F3;
	background: #fff;
	float: left;
}

.MyCart_List li.tz {
	background: #fffddd;
}

.MyCart_List li dl {
	height: 40px;
	padding: 8px 0;
	overflow: hidden;
}

.MyCart_List li dt {
	width: 52px;
	height: 40px;
	font: 0;
	line-height: 0;
	float: left;
}

.MyCart_List li dt img {
	width: 50px;
	height: 38px;
	border: 1px solid #D1E2F3;
}

.MyCart_List li dd {
	line-height: 20px;
	float: left;
}

.MyCart_List li .p_Name {
	width: 185px;
	padding-left: 5px;
	height: 40px;
	overflow: hidden;
	word-break: break-all;
}

.MyCart_List li .p_Name span {
	color: #f00;
}

.MyCart_List li .p_Price {
	width: 96px;
	overflow: hidden;
	text-align: right;
}

.MyCart_List li .p_Price a:link,.MyCart_List li .p_Price a:visited {
	color: #999;
}

.MyCart_Tip {
	padding: 5px;
	color: #999;
	text-align: center;
}

.Account {
	height: 20px;
	line-height: 20px;
	padding: 5px 5px 0;
	text-align: right;
}

.CartLog {
	height: 23px;
	padding: 5px;
}

/*--------------------------------------Footer----------------------------*/
	/*Help*/
.Help {
	width: 1158px;
	border: 1px solid #E7CA96;
	padding: 10px 20px;
	margin: 8px auto 0;
	overflow: hidden;
	background: url(i/help_bg.jpg) #fff repeat-x 0 top;
}

.Help dl {
	width: 20%;
	height: 160px;
	float: left;
	background: url(i/help_line.gif) no-repeat right top;
}

.Help dl.Help_b5 {
	background: none;
}

.Help dt {
	font-weight: bold;
	padding-left: 60px;
	margin-bottom: 15px;
}

.Help dd {
	padding-left: 95px;
	background: url(i/icon_help_item.gif) no-repeat 80px 3px;
}

.Help .extra-1 {
	background: url(i/icon_help_item.gif) no-repeat 80px -27px;
}

/*help*/
#help {
	width: 1158px;
	border: 1px solid #E7CA96;
	padding: 10px 20px;
	margin: 8px auto 0;
	overflow: hidden;
	background: url(i/op_help_1.gif) #fff repeat-x 0 -166px;
}

#help dl {
	width: 20%;
	height: 180px;
	float: left;
	background: url(i/op_help_1.gif) no-repeat -119px top;
}

#help dl.fore {
	background: none;
}

#help dt {
	width: 114px;
	height: 32px;
	margin: 0 0 15px 60px;
	background-image: url(i/op_help_1.gif);
	background-repeat: no-repeat;
}

#help dt strong {
	padding: 0 0 0 16px;
	visibility: hidden;
}

#help dd {
	padding-left: 95px;
	background: url(i/op_help_1.gif) no-repeat -35px -367px;
}

#help-1 {
	background-position: 0 0;
}

#help-2 {
	background-position: 0 -33px;
}

#help-3 {
	background-position: 0 -66px;
}

#help-4 {
	background-position: 0 -99px;
}

#help-5 {
	background-position: 0 -132px;
}

/*FriLink*/
.FriLink {
	width: 1168px;
	border: 1px solid #E1E1E1;
	padding: 10px 15px;
	margin: 6px auto 0;
	overflow: hidden;
}

.FriLink h2 {
	font-size: 12px;
}

.FriLink a {
	float: left;
	white-space: nowrap;
	margin-right: 15px;
}

.FriLink a:link,.FriLink a:visited {
	color: #333;
}

/*Footer_Nav*/
.Footer_Nav {
	width: 1200px;
	text-align: center;
	margin: 20px auto 0;
}

.Footer_Nav a:link,.Footer_Nav a:visited {
	margin: 0 10px;
	color: #333;
}

/*Copyright*/
.Copyright {
	width: 1200px;
	text-align: center;
	margin: 0 auto 5px;
	font-family: arial;
}

/*Footer_Link*/
.Footer_Link {
	width: 1200px;
	text-align: center;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 20px;
}

.Footer_Link img {
	display: inline;
	margin: 0 8px;
}

/*--------------------------------------table----------------------------*/
.Table {
	border-collapse: collapse;
	margin: 0;
	padding: 0;
}

.Table th,.Table td {
	padding: 5px;
}

/*--------------------------------------more-----------------------------*/
.more {
	text-align: right;
	padding: 5px 0 0;
	margin: 0;
}

.more img {
	display: inline;
}

a.more_white:link,a.more_white:visited {
	color: #fff;
}

/*--------------------------------------link----------------------------*/
a.link_FF7403:link,a.link_FF7403:visited {
	color: #FF7403;
}

a.link_CC0000:link,a.link_CC0000:visited {
	color: #CC0000;
}

a.link_1:link,a.link_1:visited {
	color: #005aa0;
}

/*--------------------------------------list----------------------------*/
	/*Product_List_S3//NEW**image:130*98**/
.Product_List_S3 {
	width: 100%;
	overflow: hidden;
	padding:10px;
}

.Product_List_S3 ul {
	width: 101%;
	margin-bottom: -1px;
	overflow: hidden;
}

.Product_List_S3>ul>li {
	width: 33.3%;
	float: left;
	border-bottom: 1px solid #DBDBDB;
}

.Product_List_S3 li dl {
	padding: 13px 0 10px;
	overflow: hidden;
	background: url(i/jo_line1.gif) no-repeat right 20px;
}

.Product_List_S3 li dt {
	height: 75px;
	margin-bottom: 10px;
	text-align: center;
}

.Product_List_S3 li dt img {
	width: 100px;
	height: 75px;
	display: inline;
}

.Product_List_S3 li dd {
	padding: 0 14px;
	line-height: 18px;
	text-align: center;
}

.Product_List_S3 li .p_Name {
	height: 54px;
	overflow: hidden;
	word-wrap: break-word;
	word-break: break-all;
}

.Product_List_S3 li .p_Price {
	height: 18px;
	overflow: hidden;
	color: #333;
}

.Product_List_S3 li .p_Price em {
	color: #E42E2F;
	font-weight: bold;
}

.Product_List_S3 li .p_Price img {
	display: inline;
	vertical-align: middle;
}

/*Product_List_S5//NEW**image:50*38/*Recentness_View*/
.Product_List_S5 {
	width: 209px;
	overflow: hidden;
}

.Product_List_S5 ul {
	width: 193px;
	padding: 0 8px;
	overflow: hidden;
}

.Product_List_S5 li {
	padding: 8px 0;
	height: 38px;
	overflow: hidden;
	border-top: 1px dotted #D1E2F3;
}

.Product_List_S5 li.first {
	border-top: none;
}

.Product_List_S5 li.loading {
	height: 16px;
}

.Product_List_S5 li dl {
	height: 38px;
	overflow: hidden;
}

.Product_List_S5 li dt {
	width: 50px;
	float: left;
}

.Product_List_S5 li dt img {
	width: 50px;
	height: 38px;
	display: inline;
}

.Product_List_S5 li dd {
	padding: 0 5px;
	line-height: 18px;
}

.Product_List_S5 li .p_Name {
	height: 30px;
	line-height: 15px;
	margin: 4px 0;
	overflow: hidden;
	word-wrap: break-word;
	word-break: break-all;
}

.Product_List_S5 li .p_Price {
	height: 18px;
	overflow: hidden;
	display: none;
}

.Product_List_S5 li .p_Price em {
	color: #E42E2F;
	font-weight: bold;
}

.Product_List_S5 li .p_Price img {
	display: inline;
	vertical-align: middle;
}

.p_kc {
	background: #FFFAB6;
	padding: 3px 0 1px;
	border: 1px solid #F7E88B;
	margin: 0 auto 5px;
	display: none;
}

/*Position*/
#Position {
	height: 20px;
	line-height: 20px;
	padding: 0 10px;
}

/*Pagination*/
.Pagination {
	text-align: right;
	padding: 5px 0;
	margin: 10px 0 0;
}

.Pagination a {
	padding: 3px 7px 0px;
	margin-left: 2px;
}

.Pagination a:link,.Pagination a:visited {
	border: 1px solid #CCC;
	text-decoration: none;
	color: #666;
}

.Pagination a:hover,.Pagination a:active,.Pagination a.current:link,.Pagination a.current:visited
	{
	border: 1px solid #4398CE;
	background: #4398CE;
	color: #fff;
}

/*Tip360-------------------------------------------------------------*/
.Tip360 {
	width: 380px;
	overflow: hidden;
	background: #fff;
	position: absolute;
	border: 1px solid #959595;
	z-index: 20002;
	display: none;
}

.Tip360 strong {
	color: #FF6600;
}

.w260 {
	width: 260px;
}

.Tip_Title {
	height: 26px;
	line-height: 26px;
	padding: 0 8px;
	background: #0067AA;
	color: #fff;
}

.Tip_Title em {
	float: right;
	margin-top: 6px;
	cursor: pointer;
}

.Tip_Content {
	padding: 10px;
	overflow: hidden;
	text-align: center;
	zoom: 1;
}

.Tip_Img {
	width: 110px;
	height: 96px;
	float: left;
}

.Tip_Img img {
	width: 100px;
	height: 75px;
	padding: 10px 5px;
}

.Tip_Text {
	width: 240px;
	float: right;
	text-align: left;
}

.Tip_Text1 {
	font-size: 14px;
	height: 40px;
	line-height: 40px;
	font-weight: bold;
	background: url(i/right_03.jpg) no-repeat left center;
	padding: 15px 0 15px 40px;
}

.Tip_Submit {
	background: #f2f2f2;
	border-top: 1px solid #ccc;
	height: 24px;
	padding: 3px 5px;
}

.Tip_Submit a:link,.Tip_Submit a:visited,.Tip_Submit2 a:link,.Tip_Submit2 a:visited
	{
	display: block;
	height: 20px;
	border: 1px solid #0067AA;
	padding: 1px;
	float: right;
	text-decoration: none;
	cursor: pointer;
	margin-left: 10px;
}

.Tip_Submit span,.Tip_Submit2 span {
	display: block;
	height: 20px;
	line-height: 20px;
	padding: 0 5px;
	background: #0067AA;
	color: #fff;
	float: left;
}

#changeCard {
	display: block;
	width: 600px;
	border: 0;
}

#changeCard td {
	padding: 10px 0;
}

#changeCard .pd-t td {
	padding-top: 5px;
}

#changeCard .pd-b td {
	padding-bottom: 5px;
}

#changeCard td td {
	padding: 0;
}

#changeCard img {
	display: inline;
}

#changeCard .sign img {
	width: 100px;
	height: 75px;
	padding: 4px;
	background: url(i/btn_card_1.gif);
}

#changeCard .area1 {
	width: 480px;
	height: 120px;
	line-height: 30px;
	border: 0;
	background: url(i/btn_card_2.gif);
	overflow: hidden;
	font-size: 18px;
	font-family: arial, "微软雅黑", "宋体";
}

#changeCard .text1 {
	border: 0;
	width: 108px;
	height: 24px;
	padding-top: 6px;
	line-height: 24px;
	background: url(i/btn_card_2.gif) repeat-x 0 bottom;
	margin-right: 30px;
	font-size: 18px;
	font-family: arial, "微软雅黑", "宋体";
}

#changeCard .Tip_Submit {
	padding: 20px 0;
	background: none;
	border: 0;
}

#changeCard .btn1 {
	width: 60px;
	height: 27px;
	background: url(i/com/btn_card.jpg);
	border: 0;
	cursor: pointer;
}
.SearchBar .search_label span {
	display: none;
	float:left;
}

#widget_menu li {
position:relative;
display:block;
float:left;
height:28px;
/*background:url("i/bg_head.jpg") no-repeat scroll right -110px #D6290B;*/
background:url("i/bg_head.jpg") no-repeat scroll right -80px #D6290B;
}
#widget_menu li.first {
background:url("i/bg_head.jpg") no-repeat scroll right -110px #D6290B;
}
#widget_menu li.first a:link, #widget_menu li.first a:visited {
background:url("i/bg_head.jpg") no-repeat scroll -362px -250px transparent;
color:#FFFFFF;
}
#widget_menu li a {
background:url("i/bg_head.jpg") no-repeat scroll -366px -190px transparent;
display:block;
float:left;
font-size:14px;
font-weight:bold;
height:25px;
line-height:25px;
padding:3px 20px 0;
}

#widget_menu li.last {
background:url("i/bg_head.jpg") no-repeat scroll 0 -80px #D6290B;
font-size:14px;
font-weight:bold;
height:25px;
line-height:25px;
margin-left:6px;
padding:3px 0 0;
text-align:center;
width:88px;
}
#widget_menu li.last a:link, #widget_menu li.last a:visited, #widget_menu li.last a:hover, #widget_menu li.last a:active {
background:none repeat scroll 0 0 transparent;
color:#CC3300;
padding:3px;
margin-left:10px
}
