@import url("border.css");
@import url("widget.css");
a{
  color:#464646;
  text-decoration:none;
}
a:hover{
	color:#000000;
	
}

body {
  	
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	color: #666666;
	line-height: 180%;
	margin:0;
  	
}
#AllWrap{
	width:960px; 
	margin:0 auto;
}
#layout_left{width:115px;float:left;}
#layout_main{width:845px;float:left;}
#layout_center{width:675px;margin-left:5px;float:left;}
*html #layout_center{width:660px;margin-left:3px;margin-right:3px;}
*+html #layout_center{width:675px;padding:0}
#layout_right{width:165px;;float:left;}
#Top{
  	width:960px;
    margin:0 auto;
}
#Logo{
	float:left;
    margin:0 0 0 10px;
    z-index:5;
    height:74px;
    width:960px;
}
#TopLinks{
	float:right;
    margin:0 15px 0px 0;
    text-align:right;
}
#TopLinks div{
  display:inline;
}
#TopLinks .fmenu, #TopLinks .fmenu div{
  display:block;
}
#TopBar{
  	clear:both;
  	
}
#topnav {
background:url(A0002.gif) repeat-x;
height:24px;
line-height:24px;
text-align:right;
}

#Logo a{
float:left;
}

#telpic{
width:201px;
height:74px;
float:right;
}

#widget_banner{
float:left;
}

.brabg{
background:url(0003.jpg) repeat-x;
width:99%;
height:40px;
margin:0 7px;
}

.bratitle{
background-image:url(0002.jpg);
width:267px;
height:40px;
}

.GoodsList-Tabs div {
border-color:#CCCCCC #CCCCCC -moz-use-text-color;
background:url(bgW001.gif) no-repeat scroll 0 0 transparent;
border-style:none;
border-width:0;
cursor:pointer;
float:left;
margin:0;
padding:0;
color:black;
text-align:center;
width:69px;
}

.GoodsList-Tabs .current {
background:url(bgWW02.gif) no-repeat scroll 0 0 transparent;
font-weight:bold;
color:white;
}
.GoodsListWrap {
padding:0px;
padding-bottom:10px;
}
.GoodsList-Tabs  {
border-bottom:1px solid #CCCCCC;
margin:5px 5px 0 5px;
overflow:auto;
padding:0 10px;
}

																					
/*=主菜单
=============================================================================================*/
#Menu{
    font-family:"微软雅黑", "Helvetica", Tahoma;
    float:left;
    width:765px;
    overflow:hidden;
    height:38px;
    z-index:9;
	background:url(menubg.gif) repeat-x;
	
}
 
.MenuList li{
  	background-image:url(menu_split.gif);
    font-size:14px;
    width:78px;
    height:38px;
    text-align:center;
    line-height:38px;
  	display:inline-block;
    display:-moz-inline-block;
    *display:inline;
    zoom:1;
	margin:0;
padding:0;
}
.MenuList .last{
    background-image:none;
  	font-weight:bold;
    font-size:14px;
    width:78px;
    height:38px;
    text-align:center;
    line-height:38px;
  	display:inline-block;
    display:-moz-inline-block;
    *display:inline;
    zoom:1;
}
.MenuList li a{
	color:#FFFFFF;
	display:block;
	margin-right:3px;
}

.MenuList li a:hover {
	color:#FFFFFF;
	display:block;
	background:url(menubg_a.gif) repeat-x;
	margin-right:3px;
}

#CartBar{
	width:195px;
	background:url(top013.jpg) repeat-x;
	float:left;
	height:38px;
}
#CartBar_Split{
	float:left;
	width:20px;
	background:url(top012.jpg);
	height:38px;
}
#CartImage{
	float:left;
	width:43px;
	height:38px;
	background:url(top012-1.jpg);
}
.cart-container{
	color:white;
}

#widget_mcartbar{
	margin:8px;
}

/*=搜索
=============================================================================================*/
#SearchWrap{
  	background:url(topA017.jpg) repeat-x;
    margin:0 ;
    height:36px;
    line-height:26px;
    float:left;
    width:960px;
	
}

*html #SearchWrap{
	margin-top:-10px;
}

/*=显示底部区域
=============================================================================================*/
#Foot{
	width:960px;
	margin:0 auto;
	margin-top:30px;
}
#FootLinks{
   margin-bottom:20px;
   padding:0 60px 10px 80px;
   border:1px solid #e9e9e9;
   background:url(footlinks.gif) repeat-x;
   min-height:26px;
   zoom:1;
}
#FootLinks .TreeList{
	float:left;
    width:20%;
}
#FootLinks .TreeList .cat1{
	font-weight:bold;
    color:#656565;
    padding:3px 0 10px;
}
#FootLinks .TreeList .cat2{
	background:url(arrs.gif) no-repeat 0 -22px;
    margin-left:0;
    padding:0 0 0 13px;
}

#FootMenu{
   margin:5px 0;
   color:#cccccc;
}
#FootMenu .menu a{
   color:#464646;
}
#FootMenu .TreeList{
	overflow:hidden;
    text-align:center;
}
#FootMenu .TreeList div{
	font-weight:normal;
	display:inline;
	padding:0 10px;
	border-right:1px solid #CCCCCC;
}
#Copyright *{
	text-align:center;
}
.cut{
	overflow:hidden;
}


.MenuList .level1 {
	background-color:#FFFFFE;
	border-color:#E22754;
	border-right:1px solid #E22754;
	border-style:solid;
	border-width:0 1px 1px;
	margin-top:0;
	position:absolute;
	width:150px;
	z-index:10;
	display:block;
	float:left;
	width:140px;
	display:none;
}


 
 
.MenuList .level1 li {
	background-image:none;
	text-align:left;
	height:20px;
	line-height:18px;
	margin:0;
	padding:3px 0;
	float:left;
	position:relative;
	z-index:10;
	
	display:block;
	float:none;
	font-family:Verdana,Geneva,sans-serif;
	font-size:12px;
	margin:0;
	width:100%;
}


 

.MenuList .level1 li a {
background:none no-repeat scroll 14px 7px #FFFFFF;
height:20px;
line-height:20px;
padding:0;
text-indent:21px;
width:135px;
color:#911531;
}
 
.MenuList .level1 a:hover {
background:none no-repeat scroll 14px 7px #E32924;
color:#FFFFFF;
}
.MenuList .bottom {
background:none repeat scroll 0 0 #F5CCCC;
clear:both;
overflow:hidden;
padding:4px 0;
} 
.bigadv1{
	margin-left:7px;float:left;
}
*html .bigadv1{
	margin-left:0px;
}
.bigadv1_left{
	width:266px;height:308px;float:left;
}

*html .bigadv1_left{
	 
}

.imbar{position:absolute;left:15px;top:100px;width:170px;border:1px solid #CCC;}
.imbar .title{background:#CCC;height:24px;padding-left:15px;}
.imbar .cont{background:#FFF;padding:10px 20px;}
.imbar .cont li{height:32px;}
.imbar .cont a{display:block;float:left;}
.imbar .cont span{display:block;line-height:24px;text-align:right;}