.tip { position: absolute; left:0px;top:0px; margin: 0px; padding: 0px;}
.tip .closeBtn { background: url(images/btn_close.gif) no-repeat; float: right; margin:0; width: 8px; height: 8px; text-indent:-9999px;}
.tip_content { border: #ffe168 1px solid; background: #fff6d0; }
.tip_bottom { font-size:0px; position: relative; background:url(images/tip_down.gif) no-repeat 10px ; margin:-1px 0; height:6px; }
.tip_top { font-size:0px; position: relative; background:url(images/tip_up.gif) no-repeat 10px; margin:0; padding:0; margin-bottom:-1px; height:6px; }
.tip p  { line-height:14px; color:#333; padding: 0 15px 10px; margin:0px; }
.tip label { padding: 5px 0; display: block; margin: 0px;}
.tip h3 { font-size:12px; padding: 8px 10px 0 12px; margin:0px; height: 20px; background: url(images/icon.gif) no-repeat 10px 6px; }
.tip .title { padding-left: 15px;}
